<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Commenter: <%= comment.commenter %></h5>
    <p class="card-text"><%= comment.body %></p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "card-link" %>
  </div>
</div>
